body{
    width: 1500px;
      display: block;
     }
  
     header{
      display: block;
      width: 1500px;
      height: 100px;
      border-bottom-width: 2px;
      border-bottom-style: solid;
      border-bottom-color: grey;
      margin-bottom: 0px;
      box-shadow: 0px 2px 4px rgb(38 50 56 / 16%);
      }
  
    h1{ 
      position	: absolute;
      top		: 155px;
      left		: 0;
      width		: 80%;
      font-size: 73px;
      text-align: center;
      margin-left: 170px;
      }
  
      h2{
        position: absolute;
        width: 1027px;
        height: 84px;
        left: 270px;
        top: 873px;
        
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        text-align: center;
        color: #2C3144;
      }
  
      h3{
    
        position: absolute;
        top: 1300px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        text-align: center;
        padding-left:200px;
        color: #2C3144;
        
      }
  
      .avatar {
        position	: absolute;
        top		: 450px;
        width: 215px;
        height: 215px;
        border-radius: 50%;
        display: block;
        margin-left: 640px;
        margin-right: auto;
      }
      
    
   .hexs {
    position: absolute;
   }
   
  .text {
      color: #F17900;
  }
  
  
  
  .textname {
    position: absolute;
    width: 264px;
    height: 84px;
    left: 630px;
    top: 670px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: capitalize;
  }  
  
  
  
  
  .html {
    position	: absolute;
    top		: 952px;
    left: 630px;
   
  }
  
  .css {
    position	: absolute;
    top		: 952px;
    left: 730px;
  }
  
  .js {
    position	: absolute;
    top		: 952px;
    left: 830px;
  }
  
  .sign_1 {
    padding-left: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .sign_2 {
    padding-left: 30px;
    margin-left: auto;
  margin-right: auto;
  display: block;
  }
  
  .sign_3 {
    padding-left: 30px;
    margin-left: auto;
  margin-right: auto;
  display: block;
  }
  
  .sign_0 {
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .screen{
    padding-left: 30px;
    padding-top: 52px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .node {
    position	: absolute;
    top		: 1400px;
    left: 630px;
  }
  
  .jss {
    position	: absolute;
    top		: 1400px;
    left: 730px;
  }
  
  .jest {
    position	: absolute;
    top		: 1400px;
    left: 830px;
  }
  
  .sign {
    padding-top: 680px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .sign_21 {
    padding-top: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .logo-modsen{
    float: left;
    padding-left: 22px;
    padding-top: 33px;
    padding-bottom: 33.14px;
        }
  
        .logo_PSU {
          float: right;
          padding-top: 23px;
          padding-bottom: 34.56px;
        }
  
        .avatar {
          border-radius: 50%;
        }
  
        .header_text {
        padding-top: 26px;
        }
  
        .Ghost{
    
          position	: absolute;
          top		: 1470px;
          left: 610px;
        
        }
        .git{
        
          text-align: center;
        }
        
        a {
          text-decoration: none;
        }
        .text1{
          position	: absolute;
          top		: 1500px;
          left: 590px;
        }